﻿<div class="ui horizontal divider"></div>
<div class="ui divided very relaxed list">
	<div class="item">
		<i class="star icon"></i>
		<div class="content">
			<div class="header">Header</div>
			Description
		</div>
	</div>
	<div class="item">
		<i class="star icon"></i>
		<div class="content">
			<div class="header">Header</div>
			Description
		</div>
	</div>
	<div class="item">
		<i class="star icon"></i>
		<div class="content">
			<div class="header">Header</div>
			Description
		</div>
	</div>
</div>
<div class="ui horizontal divider"></div>