﻿@model IEnumerable<DigitalDemocracy.DataAccess.Interfaces.GovernmentBill>
<div class="ui horizontal divider"></div>

<h1 class="ui header">Parliament voting for Government Bills</h1>

<div class="ui container">

	@foreach (var governmentBill in Model)
	{

		<div class="ui styled fluid accordion">
			<div class="title">
				<i class="dropdown icon"></i>
				Bill: @governmentBill.Name
			</div>
			<div class="content">
				<h4>Bill Details:</h4>

				
				@{
					var reading1 = governmentBill.Readings.FirstOrDefault(x => x.ReadingStage.IndexOf('1') >= 0);
					var reading2 = governmentBill.Readings.FirstOrDefault(x => x.ReadingStage.IndexOf('2') >= 0);
					var reading3 = governmentBill.Readings.FirstOrDefault(x => x.ReadingStage.IndexOf('3') >= 0);
				}


				<div class="ui steps">
					<a class="step">
						<div class="content">
							<div class="title">Reading 1</div>
							@if (reading1 == null) { <div class="description"><i class="disabled calendar outline icon"></i>No Data</div> }
							else if (reading1.ReadingStage.IndexOf("POV", StringComparison.CurrentCultureIgnoreCase) >= 0) { <div class="description"><i class="comments outline icon"></i>Passed on Voice Vote</div> }
							else if (reading1.Ayes == null && reading1.Noes == null) {	<div class="description"><i class="bug icon"></i>Invalid Data: Null Ayes - Null Noes</div> }
							else if (reading1.Ayes == 0 && reading1.Noes == 0) {		<div class="description"><i class="bug icon"></i>Zero Data: 0 Ayes - 0 Noes</div> }
							else if (reading1.Ayes == reading1.Noes) {					<div class="description"><i class="users icon"></i>Tie: 0 Ayes - 0 Noes</div> }
							else if (reading1.Ayes > reading1.Noes) {					<div class="description"><i class="check outline circle icon"></i>Passed: @reading1.Ayes Ayes - @reading1.Noes  Noes</div> }
							else if (reading1.Ayes < reading1.Noes) {					<div class="description"><i class="remove outline circle icon"></i>Not Passed: @reading1.Ayes Ayes - @reading1.Noes  Noes</div> }
							
						</div>
					</a>
					<a class="step">
						<div class="content">
							<div class="title">Reading 2</div>
							@if (reading2 == null) { <div class="description"><i class="disabled calendar outline icon"></i>No Data</div> }
							else if (reading2.ReadingStage.IndexOf("POV", StringComparison.CurrentCultureIgnoreCase) >= 0) { <div class="description"><i class="comments outline icon"></i>Passed on Voice Vote</div> }
							else if (reading2.Ayes == null && reading2.Noes == null) {	<div class="description"><i class="bug icon"></i>Invalid Data: Null Ayes - Null Noes</div> }
							else if (reading2.Ayes == 0 && reading2.Noes == 0) {		<div class="description"><i class="bug icon"></i>Zero Data: 0 Ayes - 0 Noes</div> }
							else if (reading2.Ayes == reading2.Noes) {					<div class="description"><i class="users icon"></i>Tie: 0 Ayes - 0 Noes</div> }
							else if (reading2.Ayes > reading2.Noes) {					<div class="description"><i class="check outline circle icon"></i>Passed: @reading2.Ayes Ayes - @reading2.Noes  Noes</div> }
							else if (reading2.Ayes < reading2.Noes) {					<div class="description"><i class="remove outline circle icon"></i>Not Passed: @reading2.Ayes Ayes - @reading2.Noes  Noes</div> }

						</div>
					</a>
					<a class="step">
						<div class="content">
							<div class="title">Reading 3</div>
							@if (reading3 == null)
							{ <div class="description"><i class="disabled calendar outline icon"></i>No Data</div> }
							else if (reading3.ReadingStage.IndexOf("POV", StringComparison.CurrentCultureIgnoreCase) >= 0) { <div class="description"><i class="comments outline icon"></i>Passed on Voice Vote</div> }
							else if (reading3.Ayes == null && reading3.Noes == null) {	<div class="description"><i class="bug icon"></i>Invalid Data: Null Ayes - Null Noes</div> }
							else if (reading3.Ayes == 0 && reading3.Noes == 0) {		<div class="description"><i class="bug icon"></i>Zero Data: 0 Ayes - 0 Noes</div> }
							else if (reading3.Ayes == reading3.Noes) {					<div class="description"><i class="users icon"></i>Tie: 0 Ayes - 0 Noes</div> }
							else if (reading3.Ayes > reading3.Noes) {					<div class="description"><i class="check outline circle icon"></i>Passed: @reading3.Ayes Ayes - @reading3.Noes  Noes</div> }
							else if (reading3.Ayes < reading3.Noes) {					<div class="description"><i class="remove outline circle icon"></i>Not Passed: @reading3.Ayes Ayes - @reading3.Noes  Noes</div> }

						</div>
					</a>
				</div>

				<div class="ui container">
					
					@foreach (var reading in governmentBill.Readings)
					{
						@if (reading.ReadingStage.IndexOf("POV", StringComparison.CurrentCultureIgnoreCase) >= 0)
						{
							continue;
						}
						<h2>Reading @reading.ReadingStage: </h2>
						
						<div class="ui three column stackable center aligned grid segment">
							<div class="column">
								<div class="green ui button">Aye Votes</div>

								<div class="ui statistics">
									<div class="yellow statistic">
										<div class="value">
											@reading.PartyVotes[0].Ayes
										</div>
										<div class="label">
											Act
										</div>
									</div>

									<div class="green statistic">
										<div class="value">
											@reading.PartyVotes[1].Ayes
										</div>
										<div class="label">
											Green
										</div>
									</div>

									<div class="red statistic">
										<div class="value">
											@reading.PartyVotes[2].Ayes
										</div>
										<div class="label">
											Labour
										</div>
									</div>

									<div class="orange statistic">
										<div class="value">
											@reading.PartyVotes[3].Ayes
										</div>
										<div class="label">
											Māori
										</div>
									</div>

									<div class="blue statistic">
										<div class="value">
											@reading.PartyVotes[4].Ayes
										</div>
										<div class="label">
											National
										</div>
									</div>

									<div class="black statistic">
										<div class="value">
											@reading.PartyVotes[5].Ayes
										</div>
										<div class="label">
											NZ First
										</div>
									</div>

									<div class="purple statistic">
										<div class="value">
											@reading.PartyVotes[6].Ayes
										</div>
										<div class="label">
											United
										</div>
									</div>
								</div>

							</div>
							<div class="column">
								<div class="ui button">Abstain Votes</div>
								<div class="ui statistics">
									<div class="grey statistic">
										<div class="value">
											@(reading.Abstentions == null ? 0 : reading.Abstentions)
										</div>
										<div class="label">
											Abstain Votes
										</div>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="red ui button">Nay Votes</div>
								<div class="ui statistics">
									<div class="yellow statistic">
										<div class="value">
											@reading.PartyVotes[0].Noes
										</div>
										<div class="label">
											Act
										</div>
									</div>

									<div class="green statistic">
										<div class="value">
											@reading.PartyVotes[1].Noes
										</div>
										<div class="label">
											Green
										</div>
									</div>

									<div class="red statistic">
										<div class="value">
											@reading.PartyVotes[2].Noes
										</div>
										<div class="label">
											Labour
										</div>
									</div>

									<div class="orange statistic">
										<div class="value">
											@reading.PartyVotes[3].Noes
										</div>
										<div class="label">
											Māori
										</div>
									</div>

									<div class="blue statistic">
										<div class="value">
											@reading.PartyVotes[4].Noes
										</div>
										<div class="label">
											National
										</div>
									</div>

									<div class="black statistic">
										<div class="value">
											@reading.PartyVotes[5].Noes
										</div>
										<div class="label">
											NZ First
										</div>
									</div>

									<div class="purple statistic">
										<div class="value">
											@reading.PartyVotes[6].Noes
										</div>
										<div class="label">
											United
										</div>
									</div>
								</div>
							</div>
						</div>
					}

				</div>


			</div>
		</div>
	}

	<div class="ui horizontal divider"></div>

</div>